body {
    color: #333333;
    font-family: "Titillium Web", serif;
    font-size: 16px;
    line-height: 23px;
    min-width: 800px;
}

.container-fluid {
    width: 960px;
}

li {
    line-height: 23px;
}

a.externalLink[href^="https"] {
    background: none;
}

/* general styling for headlines */
h1, h2, h3,
h1 > *, h2 > *, h3 > *,
div.hero-unit > h1 {
    color: #68006C; /* dark violet */
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
}

a {
    color: #68006C; /* dark violet */
}

a:visited {
    color: #7A207D; /* not so dark violet */
}

/* specific styling for documentation (right part of screen) */
#bodyColumn > h1,
#bodyColumn > h2 {
    border-top: 1px solid #F5EDF5; /* very light violet */
    padding-top: 50px;
}

/* All first elements do not have paddings... */
#bodyColumn > h1:first-child {
    border-top: 0px;
    padding-top: 0px;
}

/* remove default coloring of breadcrumb */
.breadcrumb {
    background-color: white;
}

.breadcrumb li {
    color: gray;
    font-family: "Titillium Web", sans-serif;
}

.hero-unit {
    border-radius: 0px;
    background-color: #F5F5F5; /* very light gray */
}

div.hero-unit {
    padding:30px;
}

div.hero-unit > p {
    color: #68006C; /* dark violet */
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    line-height:45px;
    font-weight: normal;    
}

.nav-header {
    color: #68006C; /* dark violet */
}

.nav-list > li > a {
    color: #7A207D; /* not so dark violet */
    text-shadow: 0px 0px 0px;
}


.nav-list > .active > a,
.nav-list > .active > a:hover {
    background-color: #68006C; /* dark violet */
}


pre,
pre.prettyprint {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 5px;
    font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
	border: 0px;	
    color: #660066;
    font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
}

.well {
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    border: 0px;
    background-color: white;
    border-right: 1px solid #ddd;
}

.nav-list .nav-header {
    font-weight: bold;
    font-size: medium;
}

.nav-list > li > a {
    color: #333;
}

/* search bar => fix that search bar does not become bigger thatn sidebar */
input.search-query {
    padding-right: 0px;
}

.alert {
    border-radius: 0px;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #D9EDF7;
}
