#{extends 'casino/Registration/layout.html' /}

<h1>Lost Password</h1>

#{form @lostPasswordFinish()}

    #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
    #{/if}
    #{if flash.success}
        <p class="success"> &{flash.success}
        </p>
    #{/if}
    <ul>
        <li>
            <label for="email">&{'registration.email'}</label>
            <input type="text" name="email" id="email" value="${flash.email}" />
            #{ifError 'email'}<span class="error">#{error 'email' /}</span>#{/ifError}
        </li>
        <li>
            #{ugot.recaptcha theme:"clean", tabindex:"2"/}
        </li>
        <li>
            <input type="submit" id="submit" value="&{'registration.register'}" />
        </li>
    </ul>
#{/form}