<#import "layout.ftl.html" as layout> <@layout.myLayout "Pending">

<h1>Lost Password</h1>

HASH{form ANDlostPasswordFinish()}

    HASH{if flash.error}
        <p class="error">
            AND{flash.error}
        </p>
    HASH{/if}
    HASH{if flash.success}
        <p class="success"> AND{flash.success}
        </p>
    HASH{/if}
    <ul>
        <li>
            <label for="email">AND{'registration.email'}</label>
            <input type="text" name="email" id="email" value="${flash.email}" />
            HASH{ifError 'email'}<span class="error">HASH{error 'email' /}</span>HASH{/ifError}
        </li>
        <li>
            HASH{ugot.recaptcha theme:"clean", tabindex:"2"/}
        </li>
        <li>
            <input type="submit" id="submit" value="AND{'registration.register'}" />
        </li>
    </ul>
HASH{/form}
</@layout.myLayout>