<#import "layout.ftl.html" as layout> <@layout.myLayout "Home page">
me
<h1>AND{'registration.register_title'}</h1>

{form @registrationFinish()}

    {if flash.error}
        <p class="error">
            AND{flash.error}
        </p>
    {/if}
    {if flash.success}
        <p class="success"> AND{flash.success}
        </p>
    {/if}
    <ul>
        <li>
            <label for="email">AND{'registration.email'}</label>
            <input type="text" name="email" id="email" value="${flash.email}" />
            {ifError 'email'}<span class="error">{error 'email' /}</span>{/ifError}
        </li>
        <li>
            <label for="password">AND{'registration.password'}</label>
            <input type="password" name="password" id="password" />
            {ifError 'password'}<span class="error">{error 'password' /}</span>{/ifError}
        </li>
        <li>
            <label for="confirm">AND{'registration.confirm'}</label>
            <input type="password" name="confirm" id="confirm" />
            {ifError 'confirm'}<span class="error">{error 'confirm' /}</span>{/ifError}
        </li>
        <li>           
            <input type="checkbox" name="acceptTermsOfService" id="acceptTermsOfService" value="true" {flash.acceptTermsOfService ? checked}/>{'registration.acceptTermsOfService'}             
            {ifError 'acceptTermsOfService'}<span class="error">{error 'acceptTermsOfService' /}</span>{/ifError}<br/>
        </li>
        <li>
            {ugot.recaptcha theme:"clean", tabindex:"2"/}
        </li>
        <li>
            <input type="submit" id="submit" value="AND{'registration.register'}" />
        </li>
    </ul>
{/form}
</@layout.myLayout>