@extends(layout.defaultLayout, title: "Home page")

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>Ninja web framework</h1>
	<p>And developing large web applications becomes fun again.</p>
</div>


<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_079_podium.png">
		<h2>Fun and Productive</h2>
		<p>Cut out the time you spend waiting for your application to
			restart, increase your productivity and complete your projects
			faster.</p>
	</div>
	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_042_group.png">
		<h2>CoC!</h2>
		<p>That means convention over configuration! We designed Ninja to
			be usable in 99% of the cases without any additional configuration.
			That speeds up development right from the start. And for the last 1%
			you can of course configure everything yourself. Just in case...</p>
	</div>
	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_163_iphone.png">
		<h2>Java only</h2>
		<p>Ninja makes it easier to use all your favorite IDEs, build
			systems and libraries from the Java world.</p>
	</div>
</div>
<div class="row">

	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_155_show_thumbnails.png">
		<h2>Powerful build system</h2>
		<p>Maven is one of the best build and library management systems out there. And
			Ninja is built for it. Even better: Automating your builds in Jenkins
			becomes as easy as specifying the pom.</p>
	</div>
	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_214_resize_small.png">
		<h2>Ready to start</h2>
		<p>Download the package and you're done. Start hacking with the
			integrated development server. Push to production with a single
			command.</p>
	</div>
	<div class="span4">
		<img class="bs-icon"
			src="assets/img/glyphicons/glyphicons_266_book_open.png">
		<h2>Servlets galore!</h2>
		<p>Servlet containers are the standard in the Java world. Ninja works
		out of the box with all popular servlet containers. Therefore you get both:
		Standard compliance and ultra-fast development cycles.</p>
	</div>
</div>


