#{extends 'casino/Registration/layout.html' /}

<h1>Your new password</h1>

#{form @lostPasswordNewPasswordFinish()}

    <ul>
        <li>
            <label for="password">&{'registration.password'}</label>
            <input type="password" name="password" id="password" />
            #{ifError 'password'}<span class="error">#{error 'password' /}</span>#{/ifError}
        </li>
        <li>
            <label for="passwordConfirm">&{'registration.passwordConfirm'}</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" />
            #{ifError 'passwordConfirm'}<span class="error">#{error 'passwordConfirm' /}</span>#{/ifError}
        </li>
        <li>
            #{ugot.recaptcha theme:"clean", tabindex:"2"/}
        </li>
        <li>
            <input type="hidden" name="code" value="${code}" />
            <input type="submit" id="submit" value="&{'registration.register'}" />
        </li>
    </ul>
#{/form}