<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">

<header class="jumbotron subhead">
    <h1>Flash Cookie support</h1>
</header>

<hr>

<h2>This page displays a flash cookie.</h2>
<p>
<#if flash.any??>
        An arbitrary flash message: <p class="success">${flash.any}</p>
</#if>
<p>
<p>
You can use firebug or any other tool you can spot the flash cookie attached to the request.
</p>
<p>
If you move to another page the cookie will go away.
</p>

</@layout.myLayout>
