#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<${symbol_pound}import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Login">


<div class="alert alert-info">
    <b>Pssst.</b> Default user is "bob@gmail.com" / password is "secret".
</div>

<div class="container">

	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-8">

			<form action="/login" method="post" class="form-horizontal" role="form">
			
			    <div class="form-group">
                    <label for="username" class="col-lg-4 control-label">${symbol_dollar}{i18n("login.username")}</label>
                    <div class="col-lg-8">
                        <input type="text" id="username" class="form-control" value="${symbol_dollar}{(flash.username)!""}" name="username" id="username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">${symbol_dollar}{i18n("login.password")}</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" name="password" id="password" value="${symbol_dollar}{(flash.password)!""}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 pull-right">
                        <div class="pull-right">
                            <input name="rememberMe" type="checkbox" value="true"
                                   <${symbol_pound}if flash.rememberMe?? && flash.rememberMe == "true">checked</${symbol_pound}if>>
                            <label for="rememberMe"> Remember me </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success pull-right">${symbol_dollar}{i18n("login.loginNowButton")}</button>
			</form>

		</div>
	</div>
</div>



	</@layout.myLayout>