#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<${symbol_pound}import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<li>${symbol_dollar}{contact.name}</li>
<li>${symbol_dollar}{contact.email}</li>
<li>${symbol_dollar}{contact.description}</li>

The content of this template is:
<pre>
&lt;li>${symbol_dollar}{r"${symbol_dollar}{contact.name}"}&lt;/li>
&lt;li>${symbol_dollar}{r"${symbol_dollar}{contact.email}"}&lt;/li>
&lt;li>${symbol_dollar}{r"${symbol_dollar}{contact.description}"}&lt;/li>
</pre>

</@layout.myLayout>
